<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form</title>
</head>
<body>
  <form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Submit" />
  </form>
  {% comment %} using relative url {% endcomment %}
  <a href="{% url 'first_app:users' %}">View All Users</a>
  <a href="{% url 'admin:index' %}">Admin Portal</a>
  <a href="{% url 'first_app:index' %}">Home</a>
  {% comment %} <a href="{% url 'index' %}">Home</a> {% endcomment %}
</body>
</html>